<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal Demo Page</title>
    <link rel="stylesheet" href="css/terminal-dev.css">
</head>
<body>
<div class="terminal__container terminal__medium">
    <div class="terminal__title">
        <ul>
            <li role="terminal__close"></li>
            <li role="terminal__minimize"></li>
            <li role="terminal__maximize"></li>
        </ul>
    </div>
    <div class="terminal__body">

    </div>
</div>
</body>
</html>